# Entorno virtual
venv/
env/

# Variables de entorno
.env

# Archivos temporales y caché
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Archivos de configuración de editor
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Airflow
airflow_settings.yaml

#Docker
.dockerignore

packages.txt